.App {
  text-align: center;
}

.appbar {
  height: 40px;
    background: #03a9f4;
    color: #FFF;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
  height: 40px;
  outline: transparent;
  margin: 0 10px;
  min-width: 200px;
}

select {
  height: 42px;
}